/* Tampilan sidebar */
.sidebar {
  position: fixed;
  top: 55px;
  left: -118px;
  width: 180px;
  height: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 99;
}

.sidebar.open {
  left: 0;
}

/* Tampilan konten utama */
.main-content {
  margin-top: 20px;
}

.bi {
  margin-top: -9px;
}

/* Home */
.home {
  filter: brightness(60%);
  transition: all 0.4s ease;
}
.home:hover {
  filter: brightness(100%);
  background-color: rgba(0, 0, 0, 0.295);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}